# API will call in server side. It can be same API endpoint
API_SERVER_ENDPOINT=http://localhost:8080

# API to call in client side / brower.
API_ENDPOINT=https://api.example.com

# public web base URL. use to generate some URL to public
SITE_URL=https://example.com

# max image size
MAX_SIZE_IMAGE=5

# normal file size config
MAX_SIZE_FILE=2000
MAX_SIZE_TEASER=2000
MAX_SIZE_VIDEO=2000

# format to accept
IMAGE_ACCPET=image/*
SOUND_ACCEPT=audio/*
VIDEO_ACCEPT=video/*,.mkv